# Pandas library

* widely used in stats for tabular data
* like data frames in R
    * rows are observations
    * columns are variables - have a data type
    * All values in a column must be the same data type 
    * eac columns can be a different datatype
    
Import the pandas library with the alias pd (common alias)

In [2]:
import pandas as pd

## reading in data
* `read_csv` reads in comma separated values (.csv) files
* takes the file name as minimum input

In [4]:
data = pd.read_csv('../data/gapminder_gdp_oceania.csv')
print(data)

       country  gdpPercap_1952  gdpPercap_1957  gdpPercap_1962  \
0    Australia     10039.59564     10949.64959     12217.22686
1  New Zealand     10556.57566     12247.39532     13175.67800

   gdpPercap_1967  gdpPercap_1972  gdpPercap_1977  gdpPercap_1982  \
0     14526.12465     16788.62948     18334.19751     19477.00928
1     14463.91893     16046.03728     16233.71770     17632.41040

   gdpPercap_1987  gdpPercap_1992  gdpPercap_1997  gdpPercap_2002  \
0     21888.88903     23424.76683     26997.93657     30687.75473
1     19007.19129     18363.32494     21050.41377     23189.80135

   gdpPercap_2007
0     34435.36744
1     25185.00911

### specifying row headings

* if you don't specify, they are numbers from 0 to length of the table
* Better to specify something meaningful

Use the `index_col` parameter

In [7]:
data = pd.read_csv('../data/gapminder_gdp_oceania.csv',
                   index_col = 'country')

In [8]:
print(data)

             gdpPercap_1952  gdpPercap_1957  gdpPercap_1962  gdpPercap_1967  \
country
Australia       10039.59564     10949.64959     12217.22686     14526.12465
New Zealand     10556.57566     12247.39532     13175.67800     14463.91893

             gdpPercap_1972  gdpPercap_1977  gdpPercap_1982  gdpPercap_1987  \
country
Australia       16788.62948     18334.19751     19477.00928     21888.88903
New Zealand     16046.03728     16233.71770     17632.41040     19007.19129

             gdpPercap_1992  gdpPercap_1997  gdpPercap_2002  gdpPercap_2007
country
Australia       23424.76683     26997.93657     30687.75473     34435.36744
New Zealand     18363.32494     21050.41377     23189.80135     25185.00911

## Explore your data frame

to find out more about what's in your dataframe, use the `DataFrame.info` function.

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, Australia to New Zealand
Data columns (total 12 columns):
gdpPercap_1952    2 non-null float64
gdpPercap_1957    2 non-null float64
gdpPercap_1962    2 non-null float64
gdpPercap_1967    2 non-null float64
gdpPercap_1972    2 non-null float64
gdpPercap_1977    2 non-null float64
gdpPercap_1982    2 non-null float64
gdpPercap_1987    2 non-null float64
gdpPercap_1992    2 non-null float64
gdpPercap_1997    2 non-null float64
gdpPercap_2002    2 non-null float64
gdpPercap_2007    2 non-null float64
dtypes: float64(12)
memory usage: 208.0+ bytes

## Get column names

one data subset in your data.frame is the column names. use `data.columns` to extract the column names

Note that this is NOT a method, do don't use () after it.

In [12]:
data.columns

Index(['gdpPercap_1952', 'gdpPercap_1957', 'gdpPercap_1962', 'gdpPercap_1967',
       'gdpPercap_1972', 'gdpPercap_1977', 'gdpPercap_1982', 'gdpPercap_1987',
       'gdpPercap_1992', 'gdpPercap_1997', 'gdpPercap_2002', 'gdpPercap_2007'],
      dtype='object')

## Transpose your data

* This data might make more sense with countries as columns and years as rows. 
* To view it this way, we can use `data.T`

In [13]:
data.T
#note that this doesn't change the data frame

country           Australia  New Zealand
gdpPercap_1952  10039.59564  10556.57566
gdpPercap_1957  10949.64959  12247.39532
gdpPercap_1962  12217.22686  13175.67800
gdpPercap_1967  14526.12465  14463.91893
gdpPercap_1972  16788.62948  16046.03728
gdpPercap_1977  18334.19751  16233.71770
gdpPercap_1982  19477.00928  17632.41040
gdpPercap_1987  21888.88903  19007.19129
gdpPercap_1992  23424.76683  18363.32494
gdpPercap_1997  26997.93657  21050.41377
gdpPercap_2002  30687.75473  23189.80135
gdpPercap_2007  34435.36744  25185.00911

# Get summary statistics for your data

`DataFrame.describe` gives summary statistics for all columns

In [14]:
data.describe()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
count,2.000000,2.000000,2.000000,2.000000,2.00000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
mean,10298.085650,11598.522455,12696.452430,14495.021790,16417.33338,17283.957605,18554.709840,20448.040160,20894.045885,24024.175170,26938.778040,29810.188275
std,365.560078,917.644806,677.727301,43.986086,525.09198,1485.263517,1304.328377,2037.668013,3578.979883,4205.533703,5301.853680,6540.991104
min,10039.595640,10949.649590,12217.226860,14463.918930,16046.03728,16233.717700,17632.410400,19007.191290,18363.324940,21050.413770,23189.801350,25185.009110
25%,10168.840645,11274.086022,12456.839645,14479.470360,16231.68533,16758.837652,18093.560120,19727.615725,19628.685413,22537.294470,25064.289695,27497.598692
50%,10298.085650,11598.522455,12696.452430,14495.021790,16417.33338,17283.957605,18554.709840,20448.040160,20894.045885,24024.175170,26938.778040,29810.188275
75%,10427.330655,11922.958888,12936.065215,14510.573220,16602.98143,17809.077557,19015.859560,21168.464595,22159.406358,25511.055870,28813.266385,32122.777857
max,10556.575660,12247.395320,13175.678000,14526.124650,16788.62948,18334.197510,19477.009280,21888.889030,23424.766830,26997.936570,30687.754730,34435.367440

# Exercise

**Read the data in gapminder_gdp_americas.csv** (which should be in the same directory as gapminder_gdp_oceania.csv) into a variable called americas and **display its summary statistics.**

**After reading the data for the Americas, use help(americas.head) and help(americas.tail) to find out what DataFrame.head and DataFrame.tail do.**

* What method call will display the first three rows of this data?
* What method call will display the last three columns of this data? (Hint: you may need to change your view of the data.)

## Selecting values by position

you can pull out a single value from a data frame using x to represent the row you want and y to represent the column  you want. Remember, indexes in python start at 0.

Use the `DataFrame.iloc()` function

In [15]:
#read in new data for europe

data = pd.read_csv("../data/gapminder_gdp_europe.csv",
                  index_col = 'country')

#print the first record in the first column
print(data.iloc[0,0])

1601.056136

## Select data by entry label

Instead of using numbers, you can use the human readable labels for rows and columns to subset. 

For this, use `Data.Frame.loc()`
Use `:` to select all values

In [17]:
# row albania, all columns
data.loc["Albania", :]

gdpPercap_1952    1601.056136
gdpPercap_1957    1942.284244
gdpPercap_1962    2312.888958
gdpPercap_1967    2760.196931
gdpPercap_1972    3313.422188
gdpPercap_1977    3533.003910
gdpPercap_1982    3630.880722
gdpPercap_1987    3738.932735
gdpPercap_1992    2497.437901
gdpPercap_1997    3193.054604
gdpPercap_2002    4604.211737
gdpPercap_2007    5937.029526
Name: Albania, dtype: float64

In [18]:
# all rows, column 1952

data.loc[:, "gdpPercap_1952"]

country
Albania                    1601.056136
Austria                    6137.076492
Belgium                    8343.105127
Bosnia and Herzegovina      973.533195
Bulgaria                   2444.286648
Croatia                    3119.236520
Czech Republic             6876.140250
Denmark                    9692.385245
Finland                    6424.519071
France                     7029.809327
Germany                    7144.114393
Greece                     3530.690067
Hungary                    5263.673816
Iceland                    7267.688428
Ireland                    5210.280328
Italy                      4931.404155
Montenegro                 2647.585601
Netherlands                8941.571858
Norway                    10095.421720
Poland                     4029.329699
Portugal                   3068.319867
Romania                    3144.613186
Serbia                     3581.459448
Slovak Republic            5074.659104
Slovenia                   4215.041741
Spain                      3834.034742
Sweden                     8527.844662
Switzerland               14734.232750
Turkey                     1969.100980
United Kingdom             9979.508487
Name: gdpPercap_1952, dtype: float64

## Slice rows and columns

you can also select ranges of rows and columns. Be careful because these rely on column order

Note that `loc` is inclusive at both ends, but `iloc` is not.

In [21]:
data.loc['Italy':'Poland', 'gdpPercap_1962':'gdpPercap_1972']

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy           8243.582340    10022.401310    12269.273780
Montenegro      4649.593785     5907.850937     7778.414017
Netherlands    12790.849560    15363.251360    18794.745670
Norway         13450.401510    16361.876470    18965.055510
Poland          5338.752143     6557.152776     8006.506993

### Using methods on slices

The results of a slice are a data frame. Thus, you can use any of the methods you'd use on a data frame.

In [22]:
data.loc['Italy':'Poland', 'gdpPercap_1962':'gdpPercap_1972'].max()

gdpPercap_1962    13450.40151
gdpPercap_1967    16361.87647
gdpPercap_1972    18965.05551
dtype: float64

In [23]:
data.loc['Italy':'Poland', 'gdpPercap_1962':'gdpPercap_1972'].min()

gdpPercap_1962    4649.593785
gdpPercap_1967    5907.850937
gdpPercap_1972    7778.414017
dtype: float64

## Select data based on values

A more useful way to subset values in a data frame is by values. Let's say that you are only interested in  records where the gdp value is greater than 10000

In [24]:
# Use a subset of data to keep output readable.
subset = data.loc['Italy':'Poland', 'gdpPercap_1962':'gdpPercap_1972']
print('Subset of data:\n', subset)

# Which values were greater than 10000 ?
print('\nWhere are values large?\n', subset > 10000)

Subset of data:
              gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy           8243.582340    10022.401310    12269.273780
Montenegro      4649.593785     5907.850937     7778.414017
Netherlands    12790.849560    15363.251360    18794.745670
Norway         13450.401510    16361.876470    18965.055510
Poland          5338.752143     6557.152776     8006.506993

Where are values large?
              gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy                 False            True            True
Montenegro            False           False           False
Netherlands            True            True            True
Norway                 True            True            True
Poland                False           False           False

In [ ]:
Combining these two gives us the following table:

In [25]:
subset[subset>10000]

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy                   NaN     10022.40131     12269.27378
Montenegro              NaN             NaN             NaN
Netherlands     12790.84956     15363.25136     18794.74567
Norway          13450.40151     16361.87647     18965.05551
Poland                  NaN             NaN             NaN

The `NaN` value is useful because they are ignored when calculating values. Now we can use the describe function to get summart statistics for only the unmasked values.

In [27]:
subset[subset>10000].describe()

       gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
count        2.000000        3.000000        3.000000
mean     13120.625535    13915.843047    16676.358320
std        466.373656     3408.589070     3817.597015
min      12790.849560    10022.401310    12269.273780
25%      12955.737547    12692.826335    15532.009725
50%      13120.625535    15363.251360    18794.745670
75%      13285.513523    15862.563915    18879.900590
max      13450.401510    16361.876470    18965.055510

# Exercise 

**Assume Pandas has been imported and the Gapminder GDP data for Europe has been loaded. Write an expression to select each of the following:**

* GDP per capita for all countries in 1982.
* GDP per capita for Denmark for all years.
* GDP per capita for all countries for years after 1985.
* Bonus: GDP per capita for each country in 2007 as a multiple of GDP per capita for that country in 1952.

## Example: Wealth Scores

For instance, let’s say we want to have a clearer view on how the European countries fall into groups by their GDP. To do this we can ...

* split the data in two groups: values that are above  the European average GDP and those with a lower GDP.

* estimate a wealth score based on the historical values, where we count how many times a country has a  GDP higher than the European average.

First, we need to create a mask, revealing only data with :

In [29]:
mask_higher = data > data.mean()
mask_higher

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Albania,False,False,False,False,False,False,False,False,False,False,False,False
Austria,True,True,True,True,True,True,True,True,True,True,True,True
Belgium,True,True,True,True,True,True,True,True,True,True,True,True
Bosnia and Herzegovina,False,False,False,False,False,False,False,False,False,False,False,False
Bulgaria,False,False,False,False,False,False,False,False,False,False,False,False
Croatia,False,False,False,False,False,False,False,False,False,False,False,False
Czech Republic,True,True,True,True,True,True,False,False,False,False,False,False
Denmark,True,True,True,True,True,True,True,True,True,True,True,True
Finland,True,True,True,True,True,True,True,True,True,True,True,True
France,True,True,True,True,True,True,True,True,True,True,True,True
Germany,True,True,True,True,True,True,True,True,True,True,True,True
Greece,False,False,False,False,True,False,False,False,True,False,True,True
Hungary,False,False,False,False,False,False,False,False,False,False,False,False
Iceland,True,True,True,True,True,True,True,True,True,True,True,True
Ireland,False,False,False,False,False,False,False,False,True,True,True,True
Italy,False,False,False,False,False,False,True,True,True,True,True,True
Montenegro,False,False,False,False,False,False,False,False,False,False,False,False
Netherlands,True,True,True,True,True,True,True,True,True,True,True,True
Norway,True,True,True,True,True,True,True,True,True,True,True,True
Poland,False,False,False,False,False,False,False,False,False,False,False,False
Portugal,False,False,False,False,False,False,False,False,False,False,False,False
Romania,False,False,False,False,False,False,False,False,False,False,False,False
Serbia,False,False,False,False,False,False,False,False,False,False,False,False
Slovak Republic,False,False,False,False,False,False,False,False,False,False,False,False
Slovenia,False,False,False,False,False,True,True,True,False,False,False,True
Spain,False,False,False,False,False,False,False,False,True,True,True,True
Sweden,True,True,True,True,True,True,True,True,True,True,True,True
Switzerland,True,True,True,True,True,True,True,True,True,True,True,True
Turkey,False,False,False,False,False,False,False,False,False,False,False,False
United Kingdom,True,True,True,True,True,True,True,True,True,True,True,True

Then, we calculate the wealth score using the pandas DataFrame `aggregate` method. 

`aggregate` takes a DataFrame, a function, and an axis as its arguments
* axis = 0 (default) apply the function to each column
* axis = 1: apply the function to each row

See `help(pd.DataFrame.aggregate)` for more information.

To calculate the wealth score:

In [36]:
wealth_score = mask_higher.aggregate('sum', axis = 1)/len(data.columns)
wealth_score

country
Albania                   0.000000
Austria                   1.000000
Belgium                   1.000000
Bosnia and Herzegovina    0.000000
Bulgaria                  0.000000
Croatia                   0.000000
Czech Republic            0.500000
Denmark                   1.000000
Finland                   1.000000
France                    1.000000
Germany                   1.000000
Greece                    0.333333
Hungary                   0.000000
Iceland                   1.000000
Ireland                   0.333333
Italy                     0.500000
Montenegro                0.000000
Netherlands               1.000000
Norway                    1.000000
Poland                    0.000000
Portugal                  0.000000
Romania                   0.000000
Serbia                    0.000000
Slovak Republic           0.000000
Slovenia                  0.333333
Spain                     0.333333
Sweden                    1.000000
Switzerland               1.000000
Turkey                    0.000000
United Kingdom            1.000000
dtype: float64

This code sums the times that each country was above the European average (True or 1 in the mask) over time, then divides it by the number of observations (`len(data.columns)').

Now that each country is categorized by a wealth score of 0, 0.3, 0.5 or 1, we can use `DataFrame.groupby` to group by wealth category, and calculate the mean GDP for each wealth score group over time.

In [40]:
data.groupby(wealth_score).mean()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
0.000000,3076.404517,3842.576566,4737.505453,5943.737399,7380.778908,8704.946536,9462.814042,9970.799951,7698.337271,8647.744800,9882.577489,12464.779827
0.333333,4197.511720,5235.614200,6436.233830,8391.916917,11319.459994,13465.114187,14919.908505,16109.228240,16979.523305,20219.012895,25521.698802,30700.932380
0.500000,5903.772203,7252.500075,9190.224735,10710.923100,12688.863690,14528.072685,15957.356025,17758.839110,18155.333040,20361.769350,22782.154195,25701.514105
1.000000,8693.106463,10611.000728,12499.096183,14833.362503,17930.195262,20095.284394,21949.065163,24735.427601,26269.852998,28910.910514,32092.494934,35654.194452

# Exercise

First, read the full gapminder dataset into a variable called all using the following code

```
all = pd.read_csv('../data/gapminder_all.csv', index_col='country')
```

Next, use `groupby` to get the mean GDP by continent

In [44]:
all = pd.read_csv('../data/gapminder_all.csv', index_col='country')

In [45]:
all

,continent,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,...,pop_1962,pop_1967,pop_1972,pop_1977,pop_1982,pop_1987,pop_1992,pop_1997,pop_2002,pop_2007
country,,,,,,,,,,,,,,,,,,,,,
Algeria,Africa,2449.008185,3013.976023,2550.816880,3246.991771,4182.663766,4910.416756,5745.160213,5681.358539,5023.216647,...,11000948.0,12760499.0,14760787.0,17152804.0,20033753.0,23254956.0,26298373.0,29072015.0,31287142,33333216
Angola,Africa,3520.610273,3827.940465,4269.276742,5522.776375,5473.288005,3008.647355,2756.953672,2430.208311,2627.845685,...,4826015.0,5247469.0,5894858.0,6162675.0,7016384.0,7874230.0,8735988.0,9875024.0,10866106,12420476
Benin,Africa,1062.752200,959.601080,949.499064,1035.831411,1085.796879,1029.161251,1277.897616,1225.856010,1191.207681,...,2151895.0,2427334.0,2761407.0,3168267.0,3641603.0,4243788.0,4981671.0,6066080.0,7026113,8078314
Botswana,Africa,851.241141,918.232535,983.653976,1214.709294,2263.611114,3214.857818,4551.142150,6205.883850,7954.111645,...,512764.0,553541.0,619351.0,781472.0,970347.0,1151184.0,1342614.0,1536536.0,1630347,1639131
Burkina Faso,Africa,543.255241,617.183465,722.512021,794.826560,854.735976,743.387037,807.198586,912.063142,931.752773,...,4919632.0,5127935.0,5433886.0,5889574.0,6634596.0,7586551.0,8878303.0,10352843.0,12251209,14326203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Switzerland,Europe,14734.232750,17909.489730,20431.092700,22966.144320,27195.113040,26982.290520,28397.715120,30281.704590,31871.530300,...,5666000.0,6063000.0,6401400.0,6316424.0,6468126.0,6649942.0,6995447.0,7193761.0,7361757,7554661
Turkey,Europe,1969.100980,2218.754257,2322.869908,2826.356387,3450.696380,4269.122326,4241.356344,5089.043686,5678.348271,...,29788695.0,33411317.0,37492953.0,42404033.0,47328791.0,52881328.0,58179144.0,63047647.0,67308928,71158647
United Kingdom,Europe,9979.508487,11283.177950,12477.177070,14142.850890,15895.116410,17428.748460,18232.424520,21664.787670,22705.092540,...,53292000.0,54959000.0,56079000.0,56179000.0,56339704.0,56981620.0,57866349.0,58808266.0,59912431,60776238
Australia,Oceania,10039.595640,10949.649590,12217.226860,14526.124650,16788.629480,18334.197510,19477.009280,21888.889030,23424.766830,...,10794968.0,11872264.0,13177000.0,14074100.0,15184200.0,16257249.0,17481977.0,18565243.0,19546792,20434176
New Zealand,Oceania,10556.575660,12247.395320,13175.678000,14463.918930,16046.037280,16233.717700,17632.410400,19007.191290,18363.324940,...,2488550.0,2728150.0,2929100.0,3164900.0,3210650.0,3317166.0,3437674.0,3676187.0,3908037,4115771

In [47]:
all.groupby(all.continent).mean()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,...,pop_1962,pop_1967,pop_1972,pop_1977,pop_1982,pop_1987,pop_1992,pop_1997,pop_2002,pop_2007
continent,,,,,,,,,,,,,,,,,,,,,
Africa,1252.572466,1385.236062,1598.078825,2050.363801,2339.615674,2585.938508,2481.592960,2282.668991,2281.810333,2378.759555,...,5.702247e+06,6.447875e+06,7.305376e+06,8.328097e+06,9.602857e+06,1.105450e+07,1.267464e+07,1.430448e+07,1.603315e+07,1.787576e+07
Americas,4079.062552,4616.043733,4901.541870,5668.253496,6491.334139,7352.007126,7506.737088,7793.400261,8044.934406,8889.300863,...,1.733081e+07,1.922986e+07,2.117537e+07,2.312271e+07,2.521164e+07,2.731016e+07,2.957096e+07,3.187602e+07,3.399091e+07,3.595485e+07
Asia,5195.484004,5787.732940,5729.369625,5971.173374,8187.468699,7791.314020,7434.135157,7608.226508,8639.690248,9834.093295,...,5.140476e+07,5.774736e+07,6.518098e+07,7.225799e+07,7.909502e+07,8.700669e+07,9.494825e+07,1.025238e+08,1.091455e+08,1.155138e+08
Europe,5661.057435,6963.012816,8365.486814,10143.823757,12479.575246,14283.979110,15617.896551,17214.310727,17061.568084,19076.781802,...,1.534517e+07,1.603930e+07,1.668784e+07,1.723882e+07,1.770890e+07,1.810314e+07,1.860476e+07,1.896480e+07,1.927413e+07,1.953662e+07
Oceania,10298.085650,11598.522455,12696.452430,14495.021790,16417.333380,17283.957605,18554.709840,20448.040160,20894.045885,24024.175170,...,6.641759e+06,7.300207e+06,8.053050e+06,8.619500e+06,9.197425e+06,9.787208e+06,1.045983e+07,1.112072e+07,1.172741e+07,1.227497e+07